@import "colors";

.glyphicon-refresh-animate {
  animation: spin .7s infinite linear;
  -webkit-animation: spin2 .7s infinite linear;
}

@-webkit-keyframes spin2 {
  from { -webkit-transform: rotate(0deg);}
  to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
  from { transform: scale(1) rotate(0deg);}
  to { transform: scale(1) rotate(360deg);}
}

body {
  padding-top: 50px;
  background: @background;
  color: @text;
}
.navbar-inverse {
  background: @header-color !important;
  border: 0;
  .navbar-brand {
    padding-left: 20px;
    color: white;
  }
  .nav-right {
    float: right;
    font-size: 14pt;
    line-height: 50px;
    a {
      color: #000000;
    }
  }
}
.btn-orange {
  background: @btn-orange;
  border-color: darken(@btn-orange,20%);
  color: #ffffff;
  &:hover {
    background: lighten(@btn-orange,4%);
    color: #ffffff;
  }
  &:active {
    background: darken(@btn-orange,6%);
    color: #ffffff;
  }
}
.main {
  padding-top: 10px;
}
.row {
  margin-top: 20px;
}
.well {
  color: black;
  h3 {
    margin: 0 0 15px;
  }
  textarea {
    width: 100%;
    height: 100px;
    border-color: @sidebar-selection;
  }
}
#motd {
  display: none;
  width: 100%;
}

.center-column {
  float: none !important;
  margin: 0 auto !important;
}

.login-well {
  margin-top: 50%;
  input {
    margin-top: 20px;
    &[type="submit"] {
      display: block;
      margin: 20px auto 0;
    }
  }
}

.playlist-container {
  max-height: 500px;
  overflow-y: auto;
  .list {
    display: none;
    list-style: none;
    padding: 0;
    .song {
      background: @song-color;
      border: 1px solid @song-border;
      margin: 0 0 10px;
      padding: 5px;
      cursor: pointer;
      border-radius: 3px;
      min-height: 29px;
      &.disabled {
        opacity: .4;
        cursor: default;
        .song-details .song-name {
          font-size: 12pt;
        }
        .song-img {
          height: 20px;
        }
        .song-undelete {
          cursor: pointer;
        }
      }
      .song-img {
        display: inline-block;
        width: 100px;
        height: 70px;
        border: 1px solid @orange;
        vertical-align: middle;
        background-repeat: no-repeat;
        background-size: cover;
        transition: height 300ms;
      }
      &:hover {
        background: lighten(@song-color, 1.5%);
      }
      &:active {
        background: darken(@song-color, 2%);
      }
      .song-details {
        display: inline-block;
        vertical-align: top;
        padding-left: 20px;
        max-width: ~"calc(100% - 124px)";
        .song-name {
          font-size: 16pt;
          transition: font-size 300ms;
        }
      }
      .song-delete {
        float: right;
        opacity: .3;
        &:hover {
          opacity: .5;
        }
        &:active {
          opacity: .7;
        }
      }
      .song-undelete {
        float: right;
        opacity: .3;
        display: none;
      }
      &.playing {
        border-color: @orange !important;
        .song-details {
          .song-name {
            font-weight: 700 !important;
          }
        }
      }
      .song-type {
        display: inline-block;
        float: right;
        height: 70px;
        opacity: 0.4;
        &.youtube {
          width: 70px;
          background: url("../img/yt-logo.png") no-repeat center/contain;
        }
      }
    }
  }
}
.sortable-placeholder {
  height: 80px;
  border: 1px dashed @song-border;
}

#player {
  margin-top: 10px
}

#search-container {
  text-align: right;
}

.controllers-container {
  .controller {
    display: inline-block;
    background: #ffaa4e;
    width: 50px;
    margin: 0;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border-radius: 3px;
    cursor: pointer;
    border: 1px solid darken(@orange, 6%);
    &:hover {
      background: lighten(@orange,4%);
    }
    &:active {
      background: darken(@orange,6%);
    }
    &.status {
      &.play {
        .glyphicon-pause {display: inline-block;}
        .glyphicon-play {display: none;}
      }
      &.pause {
        .glyphicon-play {display: inline-block;}
        .glyphicon-pause {display: none;}
      }
    }
  }
}