body {
  padding-top: 50px;
  background: #ffffff;
  color: #000000;
}
.navbar-inverse {
  background: #ffaa4e !important;
  border: 0;
}
.navbar-inverse .navbar-brand {
  padding-left: 20px;
  color: white;
}
.btn-orange {
  background: #ffaa4e;
  border-color: #e77800;
  color: #ffffff;
}
.btn-orange:hover {
  color: #e77800;
}
.main {
  padding-top: 10px;
}
.well {
  color: black;
}
.well h3 {
  margin: 0 0 15px;
}
.well textarea {
  width: 100%;
  height: 100px;
  border-color: #ffaa4e;
}
.center-column {
  float: none !important;
  margin: 0 auto !important;
}
.login-well {
  margin-top: 50%;
}
.login-well input {
  margin-top: 20px;
}
.login-well input[type="submit"] {
  display: block;
  margin: 20px auto 0;
}
.playlist-container .list {
  list-style: none;
  padding: 0;
}
.playlist-container .list .song {
  background: #F5F5F5;
  border: 1px solid #E3E3E3;
  margin: 10px 0;
  padding: 5px;
}
.playlist-container .list .song .song-img {
  display: inline-block;
  width: 70px;
  height: 70px;
  border: 1px solid #ffaa4e;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-size: cover;
}
.playlist-container .list .song-details {
  display: inline-block;
  vertical-align: top;
  padding-left: 20px;
}
.playlist-container .list .song-details .song-name {
  font-weight: 700;
  font-size: 16pt;
}
.playlist-container .list .song-type {
  display: inline-block;
  float: right;
  height: 70px;
}
.playlist-container .list .song-type.yt {
  width: 70px;
  background: url("../img/yt-logo.png") no-repeat bottom / contain;
}
