.typeahead,
.tt-input,
.tt-hint {
  width: 800px;
  height: 30px;
  padding: 20px 12px;
  font-size: 24px;
  line-height: 30px;
  border: 1px solid #ccc;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  outline: none;
}
.typeahead {
  background-color: #fff;
}
.typeahead:focus {
  border-color: #ffaa4e;
}
.tt-input {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.tt-hint {
  color: #999999;
}
.tt-dropdown-menu {
  width: 800px;
  margin-top: 0px;
  padding: 8px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  text-align: left;
}
.tt-suggestion {
  padding: 3px 20px;
  font-size: 18px;
  line-height: 24px;
  cursor: pointer;
}
.tt-input {
  margin-right: 50px;
}
#pli-perform-search {
  background: #0043ff;
  /* Old browsers */
  background: -moz-linear-gradient(top, #0043ff 0%, #003ff0 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #0043ff), color-stop(100%, #003ff0));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #0043ff 0%, #003ff0 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #0043ff 0%, #003ff0 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #0043ff 0%, #003ff0 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #0043ff 0%, #003ff0 100%);
  /* W3C */
  position: relative;
  left: -98px;
  top: 10px;
  height: 42px;
  border-radius: 0 8px 8px 0;
}
#pli-perform-search:hover {
  background: #1a56ff;
  /* Old browsers */
  background: -moz-linear-gradient(top, #1a56ff 0%, #0043ff 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #1a56ff), color-stop(100%, #0043ff));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #1a56ff 0%, #0043ff 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #1a56ff 0%, #0043ff 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #1a56ff 0%, #0043ff 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #1a56ff 0%, #0043ff 100%);
  /* W3C */
}
#pli-perform-search .icon-search {
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url(../img/search.png) no-repeat center / cover;
  margin-top: 5px;
  margin-left: -1px;
}
@media screen and (max-device-width: 768px) {
  .typeahead,
  .tt-input,
  .tt-hint,
  .tt-dropdown-menu {
    width: 100%;
  }
}
@media screen and (min-device-width: 768px) {
  .tt-suggestion {
    float: left;
    width: 33.3%;
    height: 100px;
    max-height: 100px;
    overflow: hidden;
  }
  .tt-suggestion.tt-cursor {
    color: #fff;
    background-color: #ffaa4e;
  }
  .tt-suggestion .yt-result-thumb {
    margin-right: 5px;
    float: left;
  }
  .tt-suggestion .yt-result-title {
    font-size: 13pt;
  }
}
