<div class="playlist-container">
    <div id="loading-playlist">
        <span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span>
        Loading Playlist...
    </div>
    <ul class="sortable list">
    </ul>
</div>